Python/.idea/
C/CLangCodingTest/CLangCodingTest/x64/Debug/
C/CLangCodingTest/.vs/
C/CLangCodingTest/x64/Debug/
Python/파이썬 기말/
Kotlin-Java/target/
Kotlin-Java/.idea/
Kotlin-Java/src/main/kotlin/Main.kt
Kotlin-Java/src/main/kotlin/Main.java
Kotlin-Java/src/main/kotlin/Practice.kt
