Python/.idea/
C/CLangCodingTest/CLangCodingTest/x64/Debug/
C/CLangCodingTest/.vs/
C/CLangCodingTest/x64/Debug/
Python/파이썬 기말/
kotlin-java-codingtest/target/
kotlin-java-codingtest/.idea/
kotlin-java-codingtest/src/main/kotlin/Main.kt
kotlin-java-codingtest/main/kotlin/Main.java
kotlin-java-codingtest/src/main/kotlin/Practice.kt
